{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
  <h1 class="mb-4">Projects & Tools</h1>

  <div>
    <p>
      While I built my main website (<a href="https://WilsonCunningham.com" target="_blank">WilsonCunningham.com</a>) 
      with Rails, I built this site 
        (<a href="https://projects.WilsonCunningham.com" target="_blank">projects.WilsonCunningham.com</a>) 
      with Python and Flask. I made this change because I wanted to be able 
      to integrate various projects and tools into the site using
      the more practical language: Python. For full-stack development, 
      I indeed know more about and prefer Rails, but for creating a password generator, 
      web scrapers, ML algos, and so on, Python is the clear choice.
    </p>
    <p>
      To see my main website, either click the "W" icon on the left-hand side of the navbar,
      or visit <a href="https://WilsonCunningham.com" target="_blank">WilsonCunningham.com</a>.
    </p>

    <p>
      <strong>Disclaimer:</strong> This site is a work in progress: it's still in its construction stage. 
      Once I complete current and future projects, I will post them here. For the 
      time being, it may look sparse, but more is to come!
    </p>
  </div>

  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="/password">
      Password Generator
    </a>
    <a class="list-group-item list-group-item-action" href="/scraper">
      Simple Scraper
    </a>
    <!-- add more tools here -->
  </div>
{% endblock %}
